*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}


img,
data,
input,
select,
textarea {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input,
select,
textarea {
    width: 100%;
    outline: none;
}

input,
textarea {
    width: 100%;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    line-height: 1.6;
    font-family: Pretendard, sans-serif;
    /* overflow-x: scroll; */
    font-weight: 450;
    letter-spacing: 0.4px;
}

body {
    margin: 0;
    height: 100vh;
    height: 100svh;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #0f1117;
    color: #e6e6e6;
}