.ace_gutter-cell {
    padding-left: 4px;
}

.left {
    display: grid;
    grid-template-rows: 45px 1fr;

    .ribbon {
        background-color: #161a23;
        display: grid;
        grid-template-columns: 1fr auto;
        padding-inline: 16px;

        .examples {
            margin-right: auto;
            align-self: center;
            height: 100%;
            display: grid;
            place-items: center;
            display: flex;
            justify-content: space-between;

            select {
                appearance: none;
                height: 100%;
                background-color: #161a23;
                padding: 10px 35px 10px 10px;
                background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="%23e3e3e3"/></svg>');
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: 20px;
                cursor: pointer;
            }
        }

        .actions {
            /* background-color: pink; */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            div {
                height: 100%;
                padding-inline: 12px;
                display: grid;
                place-items: center;
            }
        }
    }

    #editor {
        overflow: hidden;
        height: 100%;
        line-height: 1.5;
        font-family: "JetBrains Mono", "Fira Code", "Roboto Mono", "Droid Sans Mono", monospace;
    }

    .shortcut-buttons {
        padding: 8px 0px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30;
        background-color: #161a23;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 14px;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            
            div {
                /* background: pink; */
                display: flex;
                place-content: center;
                text-align: center;
            }
        }
    }
}


.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* overflow: scroll; */


}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 40;
    background-color: #000000b5;
}



.settings-menu {
    --bg-color: #282a36;
    --fg-color: #f8f8f2;
    --selection-color: #44475a;
    --accent-color: #bd93f9;
    --control-height: 32px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    padding: 20px;
    width: max-content;
    max-width: 96vw;
    z-index: 41;

    .entries {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .entry {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        >div:first-child {
            flex: 1;
            opacity: 0.9;
        }


        select,
        input {
            width: min-content;
        }

        input,
        button {
            padding: 0 10px;
        }

    }

    select,
    input[type="number"],
    button {
        height: var(--control-height);
        box-sizing: border-box;
        background: var(--selection-color);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: inherit;
        border-radius: 4px;
    }

    input:invalid {
        border: 2px solid red;
    }

    input[type="checkbox"] {
        width: 18px;
        height: 18px;
        margin: 0;
        cursor: pointer;
        accent-color: var(--accent-color);
    }

    input[type="number"] {
        width: 80px;
    }


    .keybindings {
        display: flex;
        column-gap: 4px;
        row-gap: 6px;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-height: 300px;

        button {
            cursor: pointer;
            transition: filter 0.2s;

            &[data-keybinding="active"] {
                background: var(--accent-color);
                color: var(--bg-color);
                font-weight: bold;
            }

            &:hover {
                filter: brightness(1.2);
            }
        }
    }
}






.ace_mobile-menu {
    display: none;
}




























@media all and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    .right {
        display: none;
    }
}

@media all and (max-width: 360px) {
    body {
        /* font-size: 14px; */
    }

    .settings-menu {
        padding: 20px 12px;
    }

    .entry {
        gap: 8px;
    }
}