:root {
    --almost-white: #E1E1E1;
    --almost-black: #1A1A1A;
    --steel: #9194A1;
    --dark-gray: #363636;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/jetbrains-mono/jetbrains-mono-variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("../fonts/pretendard/pretendard-variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}



img,
data,
input,
select,
textarea { 
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img { 
    height: auto;
}

input,
button,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea {
    width: 100%;
    outline: none;
}

input,
textarea { 
    width: 100%; 
}

button { 
    cursor: pointer; 
}

address { 
    font-style: normal; 
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: var(--almost-black);
    color: var(--almost-white);
    line-height: 1.6;
    font-family: Pretendard, sans-serif;
    overflow-x: scroll;
    font-weight: 450;
    letter-spacing: 0.4px;
}

body {
    height: 100vh;
    height: 100svh;
    background-color: var(--almost-black);
    font-size: 1.6rem;
    display: grid;
    grid-template-rows: 1fr 60px;
}

/* Disable pull to refresh 
body, html {
    overscroll-behavior: none;
}
*/

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loading-spinner > .spinner {
    background: var(--almost-white);
    width: 25px;
    padding: 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to { transform: rotate(1turn); }
}








